header {
    background-color: #1c1c1c;
}

h1 {
    font-family: monospace;
    color: #fff;
    font-size: 36px;
    padding: 16px 20px 16px 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

body {
    margin: 0px;
    background-color: #DCDCDC;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 25px;
    margin: 60px 35% 10px 14%;
}

#content-image {
    width: 350px;
    border-radius: 7%;
}

.organization {
    margin: 0px 0px 0px 20px;
}

.information-scooby {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px 30px 0% 15px;
}

h2 {
    font-family: monospace, sans-serif;
    font-size: 36px;
    color: #1c1c1c;
    margin: 0px 0px 0px 10px;
}

ul {
    font-size: 18px;
    margin: 30px 0px 0px 0px;
}

li {
    margin: 0px 0px 10px 0px;
    font-family: 'Courier Prime', monospace;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin: 55px 0px 0px 22px;
    padding: 0px 0px 0px 8px;
}

#opensea {
    padding: 8px 8px 8px 8px;
    width: 32px;
    align-items: center;
    border-radius: 10px;
    margin: 0px 3px 0px 12px;
}

#youtube {
    width: 36px;
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 0px 3px;
}

.info-scooby {
    background-color: #fff;
    margin: 0px 36.5% 0px 16%;
    padding: 20px 30px 20px 30px; 
    border-radius: 20px;
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    justify-content: flex-start;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 50px 40px 10px 40px;
    }
    
    #content-image {
        width: 335px;
    }
    
    .organization {
        margin: 0px 0px 0px 0px;
    }

    .information-scooby {
        margin: 20px 20px 20px 5px;
        padding: 0px 0px 10px 10px;
    }

    .social-media {
        margin: 8px;
    }

    #opensea {
        margin: 0px;
    }

    .info-scooby {
        margin: 0px 40px 10px 40px;
        text-align: justify;
        padding: 20px;
    }

}