header {
    background-color: #1c1c1c;
}

h1 {
    font-family: monospace;
    color: #fff;
    font-size: 50px;
    padding: 25px 20px 25px 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #1c1c1c;
    margin: 0px 0px 0px 10px;
}

<!--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px 200px 10px 200px;
    background-color: #fff;
    border-radius: 20px;
}
-->
body {
    margin: 0px;
    background-color: #DCDCDC;
}

#content {
    border-radius: 7%;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    justify-content: flex-start;
    margin: 10px;
}

.info {
    background-color: #fff;
    margin: 0px 16% 0px 16%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 20px;
    margin: 5% 14% 0.5% 14%;
}

.social-media {
    display: flex;
    padding: 0px 0px 0px 1px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 15px 0% 0% 0%;
}

.info2 {
    margin: 6% 0px 0px 15px;
}

.informarion {
    display: flex;
    flex-direction: column;
    margin: 1.5% 20% 0% 1.5%;
}