header {
    background-color: #1c1c1c;
}

h1 {
    font-family: monospace;
    color: #fff;
    font-size: 36px;
    padding: 16px 20px 16px 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#link-pagina {
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #DCDCDC;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 25px;
    margin: 60px 30% 10px 14%;
}

#content-image {
    width: 350px;
    border-radius: 7%;
    transition: 0.5s ease;
}

.organization {
    margin: 0px 0px 0px 20px;
}

.information-scooby {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px 30px 0% 15px;
}

h2 {
    font-family: monospace, sans-serif;
    font-size: 36px;
    color: #1c1c1c;
    margin: 0px 0px 0px 10px;
}

ul {
    font-size: 18px;
    margin: 30px 0px 0px 0px;
}

li {
    margin: 0px 0px 10px 0px;
    font-family: 'Courier Prime', monospace;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin: 55px 0px 0px 22px;
    padding: 0px 0px 0px 8px;
}

#opensea {
    padding: 8px 8px 8px 8px;
    width: 32px;
    align-items: center;
    border-radius: 10px;
    margin: 0px 3px 0px 12px;
}

#youtube {
    width: 36px;
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 0px 3px;
}

.info-scooby {
    background-color: #fff;
    margin: 0px 36.5% 0px 16%;
    padding: 20px 30px 20px 30px; 
    border-radius: 20px;
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    justify-content: flex-start;
    margin: 10px;
}

.riscar-nome {
    text-decoration: line-through;
}

#content-image:hover {
    transform: scale(1.2);
}

.content {
    width: 250px;
    position: absolute;
    border-radius: 2em;
    margin-top: 7em;
}

#scooby {
    z-index: 15;
    margin-left: 18%;
}

#scooby2 {
    z-index: 14;
    margin-left: 20%;
}

#scooby4 {
    z-index: 13;
    margin-left: 22%;
}

#scooby5 {
    z-index: 12;
    margin-left: 24%;
}

#scooby6 {
    z-index: 11;
    margin-left: 26%;
}

#scooby7 {
    z-index: 10;
    margin-left: 28%;
}

#scooby8 {
    z-index: 9;
    margin-left: 30%;
}

#scooby9 {
    z-index: 8;
    margin-left: 32%;
}

#scooby10 {
    z-index: 7;
    margin-left: 34%;
}

#scooby11 {
    z-index: 6;
    margin-left: 36%;
}

#scooby12 {
    z-index: 5;
    margin-left: 38%;
}

#scoobygod {
    z-index: 4;
    margin-left: 40%;
}

#scooby13 {
    z-index: 3;
    margin-left: 40%;
}

#scooby14 {
    z-index: 2;
    margin-left: 42%;
}

#scooby15 {
    z-index: 1;
    margin-left: 44%;
}

.content:hover {
    transition: 0.2s ease;
    margin-top: 1em;
}

.content:active {
    transition: 0.2 ease;
    transform: scale(0.98);
}

@media only screen and (max-width: 768px) {
    
    #content-image {
        width: 335px;
        transition: 0;
    }
    
    .organization {
        margin: 0px 0px 0px 0px;
    }

    .information-scooby {
        margin: 20px 20px 20px 5px;
        padding: 0px 0px 10px 10px;
    }

    .social-media {
        margin: 8px;
    }

    #opensea {
        margin: 0px;
    }

    .info-scooby {
        margin: 0px 40px 10px 40px;
        text-align: justify;
        padding: 20px;
    }

    #content-image:hover {
        transform: scale(1)
    }
}

@media only screen and (max-width: 1350px) {
    .content {
        display: none;
        position: none;
    }
}