html {
    background-color: #DCDCDC;
}

header {
    background-color: #1C1C1C;
}

h1 {
    font-family: monospace;
    color: #fff;
    font-size: 36px;
    padding: 16px 20px 16px 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

#link-pagina {
    text-decoration: none;
}

body {
    margin: 0px;
}

div {
    padding: 40px;
}

.container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    border-radius: 7%;
}

.content {
    transition: 0.5s ease;
    width: 400px;
    align-items: center;
    display: flex;
}

.text-subline {
    font-size: 24px;
    font-family: monospace, sans-serif;
    text-align: center;
    background-color: #1C1C1C;
    color: #F5F5F5;
    margin: 6px 0px 30px 0px;
    border-radius: 20px;
    padding: 12px 0px 12px 0px;
}

#riscar-nome {
    text-decoration: line-through;
}

#sobre {
    font-size: 18px;
    background-color: #1C1C1C;
    color: #fff;
    padding: 15px 15px 15px 15%;
    margin: 0px;
}

footer {
    margin-bottom: 0px;
}

.content:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .content {
        width: 350px;
        display: flex;
    }
    .container {
        display: flex;
    }
}